
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<footer class="pc-footer">
    <div class="footer-wrapper container-fluid">
        <div class="row">
            <div class="col-sm my-1">
                <p>Tüm Hakları Saklıdır | Burak Han Ulusoy tarafından .Net Core 9.0 kullanılarak geliştitildi. </p>
            </div>
            <div class="col-auto my-1">
                <ul class="list-inline footer-link mb-0">
                    <li class="list-inline-item"><a href="/Default/Index">Ana Sayfa'ya dön'</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>