
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}



<!-- Hero Section -->
@await Component.InvokeAsync("_DefaultBannerComponent") 
<!-- About Section -->
@await Component.InvokeAsync("_DefaultAboutComponent")



<!-- Resume Section -->




<section id="resume" class="resume section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Öz Geçmişim</h2>
        <p>Sorumluluk bilinci yüksek, disiplinli ve öğrenmeye istekli biriyim. 
            Üstlendiğim görevleri titizlikle yerine getirir, iş süreçlerinde çözüm odaklı yaklaşım sergilerim.
            Takım çalışmasına uyum sağlarken aynı zamanda bireysel sorumluluklarımı da etkin biçimde yönetebilirim. 
            Kendimi sürekli geliştirmeyi hedefleyen, yeniliklere açık bir yapıya sahibim.
            Amacım; sahip olduğum bilgi, beceri ve deneyimlerle bulunduğum kuruma değer katmak ve uzun vadede
            başarılı projelere imza atmaktır.</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row">

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
             

                <h3 class="resume-title">Eğitim Hayatım</h3>


                @await Component.InvokeAsync("_DefaultEducationComponent")

            </div>

            <div class="col-lg-6" data-aos="fade-up" data-aos-delay="200">
                <h3 class="resume-title">Profosyonel İş Deneyimlerim</h3>


                @await Component.InvokeAsync("_DefaultExpreinceComponent")
              
            </div>

        </div>

    </div>

</section><!-- /Resume Section -->
<!-- Skills Section -->
@await Component.InvokeAsync("_DefaultSkillComponent")
<!-- Stats Section -->
@await Component.InvokeAsync("_DefaultStaticsComponent")
<!-- Testimonials Section -->
@await Component.InvokeAsync("_DefaultTestimonialComponent")
<!-- Portfolio Section -->
@await Component.InvokeAsync("_DefaultProjectComponent")
<!-- Contact Section -->





<section id="contact" class="contact section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>İletişim</h2>
        <p>Benimle iletişime geçmek için aşağıda yer alan formu doldurabilir veya iletişim bilgilerim aracılığıyla doğrudan ulaşabilirsiniz. Her türlü soru, öneri ve iş birliği talepleriniz için geri dönüş yapmaktan memnuniyet duyarım.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">



            @await Component.InvokeAsync("_DefaultContactComponent")

            @await Component.InvokeAsync("_DefaultSendMessageComponent")



        </div>

    </div>

</section><!-- /Contact Section -->







