
@*
    default statics component
*@
<section id="stats" class="stats section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>İstatistikler</h2>
        <p>Amacım; bilgi, beceri ve deneyimlerimi geliştirerek bulunduğum kuruma değer katmak ve uzun vadeli başarılar elde etmektir.</p>
    </div><!-- End Section Title -->

    <div class="container" data-aos="fade-up" data-aos-delay="100">

        <div class="row gy-4">

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.static1" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Toplam Proje Sayısı</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.static2" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Toplam Deneyim Sayısı</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.static3" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Toplam Yetenek Sayısı</p>
                </div>
            </div><!-- End Stats Item -->

            <div class="col-lg-3 col-md-6">
                <div class="stats-item text-center w-100 h-100">
                    <span data-purecounter-start="0" data-purecounter-end="@ViewBag.static4" data-purecounter-duration="1" class="purecounter"></span>
                    <p>Toplam Referans Sayısı</p>
                </div>
            </div><!-- End Stats Item -->

        </div>

    </div>

</section><!-- /Stats Section -->